.container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.home_title {
  color: #232a4e;
  margin: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
