.cartContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.remove {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(218, 48, 48);
  color: white;
  cursor: pointer;
}

.qtyContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.qtyContainer span {
  background-color: lightgray;
  padding: 10px;
  border-radius: 60px;
  cursor: pointer;
}
